{
  "extends": [
    "plugin:@beefchimi/esnext",
    // "plugin:@beefchimi/react",
    "plugin:@beefchimi/typescript",
    "plugin:@beefchimi/jest",
    // "plugin:@beefchimi/node",
    "plugin:@beefchimi/prettier"
  ]
}
